.flavour-edit {
  background-color: var(--bg-primary-color);
  display: flex;
  flex-direction: column;
  padding: 50px;
  min-width: 550px;

  border: 3px solid black;
  border-radius: 8px;
}

.flavour-edit h1 {
  margin-bottom: 25px;
  text-align: center;
}

.flavour-edit input {
  margin-bottom: 14px;
}

.flavour-edit button {
  min-width: 100%;
}

.flavour-edit .secondary-button {
  margin-top: 40px;
}

.remove-button {
  background: none !important;
  color: var(--primary-color) !important;
  border: 2px solid var(--primary-color) !important;
  margin-top: 10px;
}
